<!DOCTYPE HTML>

<head>
    <title>About</title>
    <link rel="icon" href="assets/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
 {{>header}}
    <h1>About Page!!</h1>
    
    <img class="portrait" src="assets/Jalebi.jpg">
    <p>{{title}}</p>
    <p>{{name}}</p>
    <p>Creator : "Richa Shukla"</p>
    </div>
   

    {{>footer}}
</body>